{% extends "blog/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
  <div class="container">
    <div class="row flex">
      <div class="col"><img class="vector" src="{% static 'assets/creative.svg' %}" alt="login svg"></div>
      <div class="col">
        <form method="POST">
          <!-- adding a hidden Tag, csrf token -->
          {% csrf_token %}
          <fieldset class="form-group">
            <legend class="border-bottom mb-4">
              Log In
            </legend>
            {{ form|crispy }}
          </fieldset>
          <div class="form-group">
            <button class="btn btn-lg bg-steel type="submit">Login</button>
          </div>
        </form>
        <div class="border-top pt-3">
          <small class="text-muted">
            Need an Account? <a href="{% url 'register' %}" class="ml-2">Sign Up now</a>
          </small>
        </div>
      </div>
    </div>

  </div>

</div>
{% endblock %}